.navbar{
  height: 50px;
}
.sidebar{
  margin-top: 45px !important;
  height: 100% !important;
  position: fixed;
}
a, h1, h4{
  color: rgb(222, 78, 0) !important;
  font-family: 'Chalkduster';
}

a:hover{
  font-size: 120%;
}

@font-face {
  font-family: 'Chalkduster';
  }

h4{
  padding-top: 30%;
}

app-searchbar:focus{
 background-color: whitesmoke !important;
 border-color: whitesmoke !important;
}

.nav-item {
  text-align: center;
  margin: 3px;
}

.form-control{
margin-right: 30px;
}

.content{
  margin-left: 15.5%;
}
