.navbar{
  height: 50px;
}
.sidebar{
  margin-top: 45px !important;
  height: 100% !important;
  position: fixed;
}
a{
  color: black;
}
.nav-item {
  text-align: center;
  margin: 3px;
}

.form-control{
margin-right: 30px;
}
