.navbar{
  height: 50px;
}
.sidebar{
  margin-top: 45px !important;
  height: 100% !important;
  position: fixed;
}
a{
  color:  #e65c00;
}

a:hover{
  color:  #e65c00;
  font-size: 180%;
}

.navbar-brand{
  color:  #e65c00;
}
h4{
  color: #e65c00;
  margin-top: 40%;
}

app-searchbar:focus{
 background-color: whitesmoke !important;
 border-color: whitesmoke !important;
}

.nav-item {
  text-align: center;
  margin: 3px;
}

.form-control{
margin-right: 30px;
}
