<div class="container-fluid">
	<div class="row">

		<nav class="navbar fixed-top navbar-dark bg-dark flex-md-nowrap p-0 shadow">
			<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">BonbonsPlay</a>
			<!-- <input class="form-control form-control-dark w-100" placeholder="Search" aria-label="Search" type="text"> -->
			<app-searchbar></app-searchbar>
		</nav>

		<nav class="col-md-2 d-md-block bg-light sidebar">
			<div class="sidebar-sticky">
        <h4 class="text-center">Menu</h4>
				<ul class="nav flex-column">
					<li class="nav-item">
						<a class="nav-link" routerLink="">Accueil</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" routerLink="/map">CarteAjouer</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" routerLink="/gallery/1">Bonbondex</a>
					</li>
					<!-- <li class="nav-item">
						<a class="nav-link" href="#">AjouterBonbon</a>
					</li> -->
					<li class="nav-item">
						<a class="nav-link" routerLink="/contact">Contacter</a>
					</li>
					<li>
						<a class="nav-link">Bonbons collectés :<span class="badge badge-light">{{ service.candiesCart.length }}</span></a>
					</li>
				</ul>
			</div>
		</nav>

    <div class="col-md-10 offset-2">
      <ng-content></ng-content>
    </div>

  </div>
</div>
