.map {
  height: 100%;
  width: 100%;
}
.carte{
  max-width : 100%;
  transform: translateY(60px);
}

#inputGroup{
  position: absolute;
  z-index: 10000;
  margin-left: 20%;
  margin-top: 3%;
  width: 45vw;
}

#inputGroup input {
  width: 80%;
}
