<div class="container-fluid">
  <div class="carte">
    <div id="map" class="map">
      <div class="form-inline" id="inputGroup">
        <input type="text" list="SearchMap" class="form-control awesomplete pr-1" [(ngModel)]="label" placeholder="Ex: Tours, 49 boulevard preuilly 37000" (keypress)="getCoordinatesByLabel(label);setCenter()">
        <datalist id="SearchMap">
          <option *ngFor="let adresse of adresses"> {{adresse}} </option>
        </datalist>
        <button class="btn btn-success" type="submit" (click)="getCoordinatesByLabel(label);setCenter()">Rechercher</button>
      </div>
      
    </div>
    
    <div id="mouse-position"></div>
  </div>
</div>








