.card{
  height: 100%;
  background-color: rgba(4, 3, 2, 0.74);
}

.col-cards{
	margin-top: 1em;
}

.card-img-top{
	height: 200px;
}

h5{
  color: #e65c00;
}

.card img{
	max-height: 200px;
	max-width: 100%;
}


.btn {
	background-color: #145A24;
	max-width: 85%;
}
