.card{
	height: 100%;
}

.col-cards{
	margin-top: 1em;
}

.card-img-top{
	height: 200px;
}

.card img{
	max-height: 200px;
	max-width: 85%;
}
h1{
   font-family: 'Chalkduster';
}

.btn{
  border-color: rgb(222, 78, 0);
  background-color : rgb(222, 78, 0);
}



