/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css?family=Creepster');

html,
body {
  height: 100% !important;
}

body {
  margin: 0 !important;
}

h1, h2, h3 {
  font-family: 'Creepster', cursive;
}
